only = http://10.10.10.41:4873
pngquant_bin_mirror = https://npm.taobao.org/mirrors/pngquant-bin/
yarn = https://registry.yarnpkg.com/
cnpm = http://r.cnpmjs.org/
taobao = https://registry.npm.taobao.org/

